@font-face {
  font-family: "Fraunces 9pt";
  src: url("../fonts/Fraunces9pt-Black.woff2") format("woff2"), url("../fonts/Fraunces9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  transition: all 0.4s ease;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Fraunces 9pt", "Arial", sans-serif;
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 45px 0;
}

.site-header__inner {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar__item + .navbar__item {
  margin-left: 33px;
}

.main-btn {
  display: inline-block;
  padding: 15px 31px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  color: #fefcf7;
  background-color: #0e8784;
}
.main-btn:hover {
  background-color: #66d2cf;
  color: #FEFCF7;
}

.navbar__link {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;
  color: #83888f;
}
.navbar__link:hover {
  color: #333d4b;
}

.menu-btn {
  display: none;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 576px) {
  .navbar {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
.hero__inner {
  padding: 116px 86px;
  background-image: url("../images/hero-bgi.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
}

.hero__content {
  width: 100%;
  max-width: 493px;
}

.hero__title {
  margin: 0 0 32px;
  padding: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.hero__text-box {
  margin: 0 0 56px;
  width: 100%;
  max-width: 445px;
}

.hero__text {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero__link {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .hero {
    padding: 104px 58px;
  }
  .hero__inner {
    background-image: url("../images/hero-bgi-tablet.jpg");
  }
  .hero__title {
    margin: 0 0 24px;
    font-size: 48px;
    line-height: 48px;
  }
  .hero__text-box {
    margin: 0 0 40px;
  }
  .hero__text {
    font-size: 15px;
    line-height: 25px;
  }
  .hero__link {
    margin-top: 40px;
    font-size: 18px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 657px) {
  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .navbar {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .hero {
    padding: 41px 24px 120px;
  }
  .hero__inner {
    padding: 100px 24px;
    background-image: url("../images/hero-bgi-mobile.jpg");
  }
  .hero__content {
    max-width: 279px;
    margin: 0 auto;
    text-align: center;
  }
  .hero__title {
    text-align: center;
  }
  .hero__text {
    text-align: center;
  }
}
@media only screen and (max-width: 410px) {
  .hero {
    padding: 41px 20px 120px;
  }
  .hero__title {
    font-size: 36px;
    line-height: 36px;
  }
  .hero__text {
    font-size: 14px;
    line-height: 20px;
  }
  .hero__link {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .hero__title {
    font-size: 30px;
    line-height: 30px;
  }
  .hero__text {
    font-size: 14px;
    line-height: 18px;
  }
  .hero__link {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 334px) {
  .hero__title {
    font-size: 24px;
    line-height: 24px;
  }
  .hero__text {
    font-size: 12px;
    line-height: 16px;
  }
  .hero__link {
    font-size: 12px;
    line-height: 16px;
  }
}
.coffees {
  padding: 136px 0 200px;
}

.coffees__inner {
  position: relative;
  padding: 126px 0 0;
  background-image: url("../images/coffees-bgi.png");
  background-repeat: no-repeat;
  background-size: 1111px 196px;
  background-position: top -50px center;
}

.coffee-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.coffee-list__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}

.coffee-list__text-box {
  width: 100%;
  max-width: 255px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
}

@media only screen and (max-width: 768px) {
  .coffees {
    padding: 145px 40px;
  }
  .coffees__inner {
    padding: 50px 0 0;
    background-image: url("../images/coffees-bgi-tablet.png");
    background-size: 100% 130px;
    background-position: top center;
  }
  .coffee-list {
    flex-direction: column;
  }
  .coffees__item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-left: 40px;
  }
  .coffees__item + .coffees__item {
    margin-top: 32px;
  }
  .coffee-list__text-box {
    max-width: 282px;
  }
  .coffee-list__title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }
  .coffee-list__text {
    font-size: 15px;
    line-height: 25px;
    text-align: left;
  }
}
@media only screen and (max-width: 657px) {
  .coffees {
    padding: 145px 10px;
  }
  .coffees__item {
    margin-left: 12px;
  }
}
@media only screen and (max-width: 576px) {
  .coffees {
    padding: 120px 45px;
  }
  .coffees__inner {
    background-image: url("../images/coffees-bgi.png");
    background-size: 100% 72px;
    background-position: top center;
  }
  .coffees__item {
    display: block;
    margin: 0 auto;
  }
  .coffee-list__title {
    text-align: center;
  }
  .coffee-list__text {
    text-align: center;
  }
}
@media only screen and (max-width: 390px) {
  .coffees {
    padding: 120px 30px;
  }
  .coffee-list__text {
    font-size: 14px;
    line-height: 20px;
  }
}
/*************/
.choose__inner {
  position: relative;
  padding: 188px 0 200px;
  background-color: #2c343e;
  border-radius: 10px;
}

.choose__title {
  margin: 0 0 32px;
  padding: 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}

.choose__text-box {
  width: 100%;
  max-width: 540px;
  margin: 0 auto 86px;
}

.choose__text {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.choose-list {
  position: absolute;
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 0 0 0 85px;
  padding: 0;
  list-style-type: none;
}

.choose__item {
  padding: 72px 48px 48px;
  width: 100%;
  max-width: 350px;
  text-align: center;
  background-color: #0e8784;
  border-radius: 8px;
}

.choose__item + .choose__item {
  margin-left: 30px;
}

.choose-list__title {
  margin: 56px 0 24px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}

.choose-list__title:last-child {
  margin: 67px 0 0;
}

.choose-list__text-box {
  width: 100%;
  max-width: 255px;
}

.choose-list__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
}

@media only screen and (max-width: 768px) {
  .choose__inner {
    padding: 56px 70px 368px;
    background-color: #2c343e;
    border-radius: 10px;
    text-align: center;
  }
  .choose__title {
    margin: 0 0 24px;
    padding: 0;
    font-size: 32px;
    line-height: 48px;
  }
  .choose__text {
    margin: 0 0 70px;
    padding: 0;
    font-size: 15px;
    line-height: 25px;
  }
  .choose__list-box {
    position: relative;
    width: 100%;
    max-width: 573px;
    display: block;
    margin: 0 auto;
  }
  .choose-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    max-width: 573px;
    margin: 0 auto;
  }
  .choose__item {
    display: flex;
    padding: 41px 48px 70px;
    width: 100%;
    max-width: 573px;
    text-align: center;
    background-color: #0e8784;
    border-radius: 8px;
  }
  .choose__item + .choose__item {
    margin-top: 24px;
    margin-left: 0;
  }
  .choose__pic {
    margin-right: 55px;
  }
  .choose-list__title {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .choose-list__title:last-child {
    margin: 67px 0 0;
  }
  .choose-list__text-box {
    max-width: 344px;
  }
  .choose-list__text {
    font-size: 15px;
    line-height: 25px;
    text-align: left;
  }
}
@media only screen and (max-width: 657px) {
  .choose__item {
    padding: 30px 40px 50px;
  }
  .choose__pic {
    margin-right: 25px;
  }
  .choose-list__text {
    font-size: 12px;
    line-height: 20 px;
  }
}
@media only screen and (max-width: 576px) {
  .choose__inner {
    padding: 56px 24px 661px;
  }
  .choose__item {
    display: block;
    padding: 72px 48px 48px;
    width: 100%;
    max-width: 350px;
    background-color: #0e8784;
    border-radius: 8px;
  }
  .choose__item + .choose__item {
    margin-top: 24px;
    margin-left: 0;
  }
  .choose__pic {
    margin: 0;
  }
  .choose-list__text-box .choose__text-box {
    max-width: 212px;
    margin: 0 auto 86px;
  }
  .choose-list__title {
    margin: 56px 0 24px;
    text-align: center;
  }
  .choose-list__text {
    text-align: center;
  }
}
@media only screen and (max-width: 390px) {
  .choose-list__title {
    margin: 56px 0 24px;
    font-size: 20px;
    line-height: 28px;
  }
  .choose-list__text {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 334px) {
  .choose-list__title {
    margin: 56px 0 24px;
    font-size: 18px;
    line-height: 25px;
  }
  .choose-list__text {
    margin: 56px 0 24px;
    font-size: 12px;
    line-height: 16px;
  }
}
.works {
  padding: 350px 85px 200px;
}

.works__title {
  margin: 0 0 80px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.line-circle {
  position: relative;
  width: 100%;
  max-width: 760px;
  height: 2px;
  background-color: #fdd6ba;
}

.circle {
  position: absolute;
  top: -15px;
  display: inline-block;
  width: 31px;
  height: 31px;
  background-color: #fefcf7;
  background-repeat: no-repeat;
  border: 2px solid #0e8784;
  border-radius: 50%;
}

.circle-2 {
  left: 349px;
}

.circle-3 {
  left: 729px;
}

.works__list {
  display: flex;
  justify-content: space-between;
  margin: 82px 0 64px;
  padding: 0;
  list-style-type: none;
}

.works-list__item {
  width: 100%;
  max-width: 285px;
}

.works-list__item + .works-list__item {
  margin-left: 10px;
}

.works-list__number {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.works-list__title {
  margin: 0 0 42px;
  padding: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}

.works-list__text {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

@media only screen and (max-width: 769px) {
  .works {
    padding: 443px 39px;
  }
  .works__title {
    margin: 0 0 40px;
    font-size: 24px;
  }
  .line-circle {
    max-width: 467px;
  }
  .circle-2 {
    left: 202px;
  }
  .circle-3 {
    left: 435px;
  }
  .works__list {
    margin: 48px 0 44px;
  }
  .works-list__item {
    max-width: 223px;
  }
  .works-list__title {
    margin: 0 0 38px;
    font-size: 28px;
    line-height: 32px;
  }
  .works-list__text {
    font-size: 15px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 615px) {
  .works-list__title {
    font-size: 20px;
    line-height: 25px;
  }
  .works-list__text {
    font-size: 12px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .works {
    padding: 717px 24px;
  }
  .works__inner {
    text-align: center;
  }
  .works__title {
    margin: 0 0 80px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .line-circle {
    display: none;
  }
  .works__list {
    justify-content: center;
    margin: 0 auto;
    max-width: 327px;
    flex-direction: column;
    text-align: center;
  }
  .works-list__item {
    margin: 0 auto;
  }
  .works-list__item + .works-list__item {
    margin-top: 56px;
    margin-right: auto;
    margin-left: auto;
  }
  .works-list__number {
    font-size: 72px;
    line-height: 72px;
    text-align: center;
  }
  .works-list__title {
    margin: 24px 0;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }
  .works-list__text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
  .works-list__link {
    width: 100%;
    max-width: 217px;
    margin: 79px auto 0;
    text-align: center;
  }
}
.footer {
  padding: 47px 0;
  background-color: #2c343e;
}

.footer__inner {
  display: flex;
  align-items: center;
}

.footer__list {
  display: flex;
  align-items: center;
  margin: 0 0 0 103px;
  padding: 0;
  list-style-type: none;
}

.footer__item + .footer__item {
  margin-left: 33px;
}

.social__list {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  text-decoration: none;
}
.footer__link:hover {
  color: #fefcf7;
}

.social__item + .social__item {
  margin-left: 24px;
}

.social__link {
  font-size: 24px;
  color: #fefcf7;
  text-decoration: none;
}
.social__link:hover {
  color: #fdd6ba;
}

@media only screen and (max-width: 769px) {
  .footer {
    padding: 47px 0;
    background-color: #2c343e;
  }
  .footer__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer-logo {
    margin: 0 0 32px;
  }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 65px;
  }
  .social__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
@media only screen and (max-width: 576px) {
  .footer {
    padding: 54px 0;
  }
  .footer-logo {
    margin-bottom: 50px;
  }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .footer__item + .footer__item {
    margin-top: 25px;
    margin-left: 0px;
  }
}
.site-header {
  padding: 45px 0;
}

.site-header__inner {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar__item + .navbar__item {
  margin-left: 33px;
}

.main-btn {
  display: inline-block;
  padding: 15px 31px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  color: #fefcf7;
  background-color: #0e8784;
}
.main-btn:hover {
  background-color: #66d2cf;
  color: #FEFCF7;
}

.navbar__link {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;
  color: #83888f;
}
.navbar__link:hover {
  color: #333d4b;
}

.menu-btn {
  display: none;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 576px) {
  .navbar {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
.about-hero {
  padding: 43px 0;
}

.about-hero__inner {
  padding: 137px 85px;
  background-image: url("../../../images/about-hero-bgi.jpg");
}

@media only screen and (max-width: 769px) {
  .about-hero__inner {
    padding: 118px 58px;
    background-image: url("../../../images/about-hero-bgi-tablet.jpg");
  }
}
@media only screen and (max-width: 576px) {
  .about-hero__inner {
    padding: 111px 24px 87px;
    background-image: url("../../../images/about-hero-bgi-mobile.jpg");
  }
}
.commit {
  padding: 168px 85px 244px;
}

.commit__inner {
  display: flex;
  justify-content: space-between;
}

.commit__pic {
  width: 281px;
  height: 470px;
  border-radius: 8px;
}

.commit__content {
  width: 100%;
  max-width: 540px;
  padding: 90px 0;
}

.commit__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
}

.commit__text {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media only screen and (max-width: 769px) {
  .commit {
    padding: 144px 0px 330px;
  }
  .commit__content {
    max-width: 339px;
    padding: 0;
  }
  .commit__title {
    font-size: 32px;
    line-height: 48px;
  }
  .commit__text {
    font-size: 15px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 680px) {
  .commit__content {
    max-width: 360px;
  }
  .commit__title {
    font-size: 26px;
    line-height: 35px;
  }
  .commit__text {
    font-size: 12px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 576px) {
  .commit {
    padding: 120px 24px 198px;
  }
  .commit__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .commit__text-inner {
    max-width: 327px;
    margin: 0 auto;
  }
  .commit__title {
    margin-top: 48px;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }
  .commit__text {
    margin-top: 30px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
.quality {
  position: relative;
  padding: 250px 0 168px;
}

.quality__bgi {
  position: absolute;
  top: 136px;
  right: 85px;
  z-index: 2;
  border-radius: 10px;
}

.quality__inner {
  padding: 88px 85px 176px;
  background-color: #2c343e;
  border-radius: 8px;
}

.quality__content {
  width: 100%;
  max-width: 540px;
}

.quality__title {
  margin: 0 0 32px;
  padding: 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}

.quality__text {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media only screen and (max-width: 769px) {
  .quality {
    padding: 330px 0 145px;
  }
  .quality__inner {
    padding: 224px 0 67px;
  }
  .quality__content {
    margin: 0 auto;
    max-width: 540px;
  }
  .quality__bgi {
    width: 573px;
    height: 320px;
  }
  .quality__title {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }
  .quality__text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .quality {
    padding: 198px 0 120px;
  }
  .quality__inner {
    padding: 142px 0 61px;
  }
  .quality__content {
    margin: 0 auto;
    padding: 0 20px;
    width: 310px;
  }
  .quality__bgi {
    margin: 0 auto;
    max-width: 279px;
    height: 156px;
  }
  .quality__title {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }
  .quality__text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
.county {
  padding-bottom: 170px;
}

.country__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1045px;
}

.country__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.country__list {
  display: flex;
  justify-content: space-between;
  margin: 72px 0 0;
  padding: 0;
  list-style-type: none;
}

.country__name {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}

.country__address-list {
  margin: 24px 0 0;
  padding: 0;
  list-style-type: none;
}

.country__subitem,
.country__subitem a {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  text-decoration: none;
}

.uk::before {
  content: "";
  display: block;
  margin-bottom: 50px;
  width: 41px;
  height: 49px;
  background-image: url("../../../images/uk.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.canada::before {
  content: "";
  display: block;
  margin-bottom: 50px;
  width: 52px;
  height: 50px;
  background-image: url("../../../images/canada.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.australia::before {
  content: "";
  display: block;
  margin-bottom: 50px;
  width: 49px;
  height: 44px;
  background-image: url("../../../images/australia.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.site-header {
  padding: 45px 0;
}

.site-header__inner {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar__item + .navbar__item {
  margin-left: 33px;
}

.main-btn {
  display: inline-block;
  padding: 15px 31px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  color: #fefcf7;
  background-color: #0e8784;
}
.main-btn:hover {
  background-color: #66d2cf;
  color: #FEFCF7;
}

.navbar__link {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;
  color: #83888f;
}
.navbar__link:hover {
  color: #333d4b;
}

.menu-btn {
  display: none;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 576px) {
  .navbar {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
.about-hero {
  padding: 43px 0;
}

.about-hero__inner {
  padding: 137px 85px;
  background-image: url("../../../images/about-hero-bgi.jpg");
}

@media only screen and (max-width: 769px) {
  .about-hero__inner {
    padding: 118px 58px;
    background-image: url("../../../images/about-hero-bgi-tablet.jpg");
  }
}
@media only screen and (max-width: 576px) {
  .about-hero__inner {
    padding: 111px 24px 87px;
    background-image: url("../../../images/about-hero-bgi-mobile.jpg");
  }
}
.commit {
  padding: 168px 85px 244px;
}

.commit__inner {
  display: flex;
  justify-content: space-between;
}

.commit__pic {
  width: 281px;
  height: 470px;
  border-radius: 8px;
}

.commit__content {
  width: 100%;
  max-width: 540px;
  padding: 90px 0;
}

.commit__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
}

.commit__text {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media only screen and (max-width: 769px) {
  .commit {
    padding: 144px 0px 330px;
  }
  .commit__content {
    max-width: 339px;
    padding: 0;
  }
  .commit__title {
    font-size: 32px;
    line-height: 48px;
  }
  .commit__text {
    font-size: 15px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 680px) {
  .commit__content {
    max-width: 360px;
  }
  .commit__title {
    font-size: 26px;
    line-height: 35px;
  }
  .commit__text {
    font-size: 12px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 576px) {
  .commit {
    padding: 120px 24px 198px;
  }
  .commit__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .commit__text-inner {
    max-width: 327px;
    margin: 0 auto;
  }
  .commit__title {
    margin-top: 48px;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }
  .commit__text {
    margin-top: 30px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
.quality {
  position: relative;
  padding: 250px 0 168px;
}

.quality__bgi {
  position: absolute;
  top: 136px;
  right: 85px;
  z-index: 2;
  border-radius: 10px;
}

.quality__inner {
  padding: 88px 85px 176px;
  background-color: #2c343e;
  border-radius: 8px;
}

.quality__content {
  width: 100%;
  max-width: 540px;
}

.quality__title {
  margin: 0 0 32px;
  padding: 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}

.quality__text {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media only screen and (max-width: 769px) {
  .quality {
    padding: 330px 0 145px;
  }
  .quality__inner {
    padding: 224px 0 67px;
  }
  .quality__content {
    margin: 0 auto;
    max-width: 540px;
  }
  .quality__bgi {
    width: 573px;
    height: 320px;
  }
  .quality__title {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }
  .quality__text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .quality {
    padding: 198px 0 120px;
  }
  .quality__inner {
    padding: 142px 0 61px;
  }
  .quality__content {
    margin: 0 auto;
    padding: 0 20px;
    width: 310px;
  }
  .quality__bgi {
    margin: 0 auto;
    max-width: 279px;
    height: 156px;
  }
  .quality__title {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }
  .quality__text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
.county {
  padding-bottom: 170px;
}

.country__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1045px;
}

.country__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.country__list {
  display: flex;
  justify-content: space-between;
  margin: 72px 0 0;
  padding: 0;
  list-style-type: none;
}

.country__name {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}

.country__address-list {
  margin: 24px 0 0;
  padding: 0;
  list-style-type: none;
}

.country__subitem,
.country__subitem a {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  text-decoration: none;
}

.uk::before {
  content: "";
  display: block;
  margin-bottom: 50px;
  width: 41px;
  height: 49px;
  background-image: url("../../../images/uk.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.canada::before {
  content: "";
  display: block;
  margin-bottom: 50px;
  width: 52px;
  height: 50px;
  background-image: url("../../../images/canada.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.australia::before {
  content: "";
  display: block;
  margin-bottom: 50px;
  width: 49px;
  height: 44px;
  background-image: url("../../../images/australia.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}/*# sourceMappingURL=main.css.map */