//***************//
//***  FONTS  ***//
//***************//
@font-face {
  font-family: "Fraunces 9pt";
  src: url("../fonts/Fraunces9pt-Black.woff2") format("woff2"),
    url("../fonts/Fraunces9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"),
    url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

//*****************//
//*** FONTS END ***//
//*****************//

//*******************//
//*** GENERAL CSS ***//
//*******************//

html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Fraunces 9pt", "Arial", sans-serif;
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-btn {
  padding: 15px 31px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  color: #fefcf7;
  background-color: #66d2cf;
}

//*******************//
//*** GENERAL END ***//
//*******************//

//**************//
//*** HEADER ***//
//**************//

.site-header {
  padding: 45px 0;
}

.site-header__inner {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar__item + .navbar__item {
  margin-left: 33px;
}

.navbar__link {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;
  color: #83888f;

  &:hover {
    color: #333d4b;
  }
}

.menu-btn {
  display: none;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

//************//
//***TABLET***//
//************//
@media only screen and (max-width: 768px) {
}

//************//
//***MOBILE***//
//************//
@media only screen and (max-width: 576px) {
  .navbar {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

//******************//
//*** HEADER END ***//
//******************//

//************//
//*** HERO ***//
//************//

.hero__inner {
  padding: 116px 86px;
  background-image: url("../images/hero-bgi.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
}

.hero__content {
  width: 100%;
  max-width: 493px;
}

.hero__title {
  margin: 0 0 32px;
  padding: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.hero__text-box {
  margin: 0 0 56px;
  width: 100%;
  max-width: 445px;
}

.hero__text {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero__link {
  display: inline-block;
}

//************//
//***TABLET***//
//************//
@media only screen and (max-width: 768px) {
  .hero {
    padding: 104px 58px;
  }

  .hero__inner {
    background-image: url("../images/hero-bgi-tablet.jpg");
  }

  .hero__title {
    margin: 0 0 24px;
    font-size: 48px;
    line-height: 48px;
  }

  .hero__text-box {
    margin: 0 0 40px;
  }

  .hero__text {
    font-size: 15px;
    line-height: 25px;
  }

  .hero__link {
    margin-top: 40px;
    font-size: 18px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 657px) {
  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
}

//************//
//***MOBILE***//
//************//
@media only screen and (max-width: 576px) {
  .navbar {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .hero {
    padding: 41px 24px 120px;
  }

  .hero__inner {
    padding: 100px 24px;
    background-image: url("../images/hero-bgi-mobile.jpg");
  }

  .hero__content {
    max-width: 279px;
    margin: 0 auto;
    text-align: center;
  }

  .hero__title {
    text-align: center;
  }

  .hero__text {
    text-align: center;
  }
}

@media only screen and (max-width: 410px) {
  .hero {
    padding: 41px 20px 120px;
  }

  .hero__title {
    font-size: 36px;
    line-height: 36px;
  }

  .hero__text {
    font-size: 14px;
    line-height: 20px;
  }

  .hero__link {
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .hero__title {
    font-size: 30px;
    line-height: 30px;
  }

  .hero__text {
    font-size: 14px;
    line-height: 18px;
  }

  .hero__link {
    font-size: 12px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 334px) {
  .hero__title {
    font-size: 24px;
    line-height: 24px;
  }

  .hero__text {
    font-size: 12px;
    line-height: 16px;
  }

  .hero__link {
    font-size: 12px;
    line-height: 16px;
  }
}

//**************//
//***HERO END***//
//**************//

//*************//
//***COFFEES***//
//************//
.coffees {
  padding: 136px 0 188px;
}

.coffees__inner {
  position: relative;
  padding: 126px 0 0;
  background-image: url("../images/coffees-bgi.png");
  background-repeat: no-repeat;
  background-size: 1111px 196px;
  background-position: top -50px center;
}

.coffee-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.coffee-list__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}

.coffee-list__text-box {
  width: 100%;
  max-width: 255px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
}

//************//
//***TABLET***//
//************//
@media only screen and (max-width: 768px) {
  .coffees {
    padding: 145px 40px;
  }

  .coffees__inner {
    padding: 50px 0 0;
    background-image: url("../images/coffees-bgi-tablet.png");
    background-size: 100% 130px;
    background-position: top center;
  }

  .coffee-list {
    flex-direction: column;
  }

  .coffees__item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-left: 40px;
  }

  .coffees__item + .coffees__item {
    margin-top: 32px;
  }

  .coffee-list__text-box {
    max-width: 282px;
  }

  .coffee-list__title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }

  .coffee-list__text {
    font-size: 15px;
    line-height: 25px;
    text-align: left;
  }
}

@media only screen and (max-width: 657px) {
  .coffees {
    padding: 145px 10px;
  }

  .coffees__item {
    margin-left: 12px;
  }
}

//************//
//***MOBILE***//
//************//
@media only screen and (max-width: 576px) {
  .coffees {
    padding: 120px 45px;
  }

  .coffees__inner {
    background-image: url("../images/coffees-bgi.png");
    background-size: 100% 72px;
    background-position: top center;
  }

  .coffees__item {
    display: block;
    margin: 0 auto;
  }

  .coffee-list__title {
    text-align: center;
  }

  .coffee-list__text {
    text-align: center;
  }
}

@media only screen and (max-width: 390px) {
  .coffees {
    padding: 120px 30px;
  }

  .coffee-list__text {
    font-size: 14px;
    line-height: 20px;
  }
}

//*****************//
//***COFFEES END***//
//*****************//

//************//
//***CHOOSE***//
/*************/

.choose__inner {
  position: relative;
  padding: 188px 0 200px;
  background-color: #2c343e;
  border-radius: 10px;
}

.choose__title {
  margin: 0 0 32px;
  padding: 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}

.choose__text-box {
  width: 100%;
  max-width: 540px;
  margin: 0 auto 86px;
}

.choose__text {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.choose-list {
  position: absolute;
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 0 0 0 85px;
  padding: 0;
  list-style-type: none;
}

.choose__item {
  padding: 72px 48px 48px;
  width: 100%;
  max-width: 350px;
  text-align: center;
  background-color: #0e8784;
  border-radius: 8px;
}

.choose__item + .choose__item {
  margin-left: 30px;
}

.choose-list__title {
  margin: 56px 0 24px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}

.choose-list__title:last-child {
  margin: 67px 0 0;
}

.choose-list__text-box {
  width: 100%;
  max-width: 255px;
}

.choose-list__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
}

//************//
//***TABLET***//
//************//
@media only screen and (max-width: 768px) {
  .choose__inner {
    padding: 56px 70px 368px;
    background-color: #2c343e;
    border-radius: 10px;
    text-align: center;
  }

  .choose__title {
    margin: 0 0 24px;
    padding: 0;
    font-size: 32px;
    line-height: 48px;
  }

  .choose__text {
    margin: 0 0 70px;
    padding: 0;
    font-size: 15px;
    line-height: 25px;
  }

  .choose__list-box {
    position: relative;
    width: 100%;
    max-width: 573px;
    display: block;
    margin: 0 auto;
  }

  .choose-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    max-width: 573px;
    margin: 0 auto;
  }

  .choose__item {
    display: flex;
    padding: 41px 48px 70px;
    width: 100%;
    max-width: 573px;
    text-align: center;
    background-color: #0e8784;
    border-radius: 8px;
  }

  .choose__item + .choose__item {
    margin-top: 24px;
    margin-left: 0;
  }

  .choose__pic {
    margin-right: 55px;
  }

  .choose-list__title {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .choose-list__title:last-child {
    margin: 67px 0 0;
  }

  .choose-list__text-box {
    max-width: 344px;
  }

  .choose-list__text {
    font-size: 15px;
    line-height: 25px;
    text-align: left;
  }
}

@media only screen and (max-width: 657px) {
  .choose__item {
    padding: 30px 40px 50px;
  }

  .choose__pic {
    margin-right: 25px;
  }

  .choose-list__text {
    font-size: 12px;
    line-height: 20 px;
  }
}

//************//
//***MOBILE***//
//************//
@media only screen and (max-width: 576px) {
  .choose__inner {
    padding: 56px 24px 661px;
  }

  .choose__item {
    display: block;
    padding: 72px 48px 48px;
    width: 100%;
    max-width: 350px;
    background-color: #0e8784;
    border-radius: 8px;
  }

  .choose__item + .choose__item {
    margin-top: 24px;
    margin-left: 0;
  }

  .choose__pic {
    margin: 0;
  }

  .choose-list__text-box {
    width: 279px;
  }

  .choose-list__title {
    margin: 56px 0 24px;
    text-align: center;
  }

  .choose-list__text {
    text-align: center;
  }

}

@media only screen and (max-width: 390px) {
  .choose-list__title {
    margin: 56px 0 24px;
    font-size: 20px;
    line-height: 28px;
  }

  .choose-list__text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 334px) {
  .choose-list__title {
    margin: 56px 0 24px;
    font-size: 18px;
    line-height: 25px;
  }

  .choose-list__text {
    margin: 56px 0 24px;
    font-size: 12px;
    line-height: 16px;
  }
}

//****************//
//***CHOOSE END***//
//****************//
