.works__inner {
  padding: 100px 85px;
  background-color: #2c343e;
  color: #fefcf7;
}

.works__title {
  display: none;
}

.line-circle {

  background-color: #fdd6ba;
}

.circle {
  border-color: #0E8784;
  background-color: #2c343e;
}

.works-list__number {
  color: #fefcf7;
}

.works-list__title {
  color: #fefcf7;
}

.works-list__text {
  color: #fefcf7;
}

.works-list__number {
  color: #fefcf7;
}

.works-list__number {
  color: #fefcf7;
}
