.poll {
  padding: 160px 80px;
}

.poll__inner {
  display: flex;
}

.control {
  margin: 0;
  padding: 0;
  margin-right: 170px;
  list-style-type: none;
}

.control__item {
  padding: 25px 0;
  border-bottom: 1px solid #83888f;
}

.control__item:first-child {
  padding-top: 0;
}

.control__item:last-child {
  border: none;
}

.control__number {
  margin: 0;
  margin-right: 25px;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #0e8784;
}

.control__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  opacity: 0.25;
}

.active-control {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  opacity: 1;
}

.poll__details {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888f;
}

.poll__list {
  margin: 56px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}