//************//
//*** HERO ***//
//************//

.hero__inner {
  padding: 116px 86px;
  background-image: url("../images/hero-bgi.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
}

.hero__content {
  width: 100%;
  max-width: 493px;
}

.hero__title {
  margin: 0 0 32px;
  padding: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.hero__text-box {
  margin: 0 0 56px;
  width: 100%;
  max-width: 445px;
}

.hero__text {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero__link {
  display: inline-block;
}

//************//
//***TABLET***//
//************//
@media only screen and (max-width: 768px) {
  .hero {
    padding: 104px 58px;
  }

  .hero__inner {
    background-image: url("../images/hero-bgi-tablet.jpg");
  }

  .hero__title {
    margin: 0 0 24px;
    font-size: 48px;
    line-height: 48px;
  }

  .hero__text-box {
    margin: 0 0 40px;
  }

  .hero__text {
    font-size: 15px;
    line-height: 25px;
  }

  .hero__link {
    margin-top: 40px;
    font-size: 18px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 657px) {
  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
}

//************//
//***MOBILE***//
//************//
@media only screen and (max-width: 576px) {
  .navbar {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .hero {
    padding: 41px 24px 120px;
  }

  .hero__inner {
    padding: 100px 24px;
    background-image: url("../images/hero-bgi-mobile.jpg");
  }

  .hero__content {
    max-width: 279px;
    margin: 0 auto;
    text-align: center;
  }

  .hero__title {
    text-align: center;
  }

  .hero__text {
    text-align: center;
  }
}

@media only screen and (max-width: 410px) {
  .hero {
    padding: 41px 20px 120px;
  }

  .hero__title {
    font-size: 36px;
    line-height: 36px;
  }

  .hero__text {
    font-size: 14px;
    line-height: 20px;
  }

  .hero__link {
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .hero__title {
    font-size: 30px;
    line-height: 30px;
  }

  .hero__text {
    font-size: 14px;
    line-height: 18px;
  }

  .hero__link {
    font-size: 12px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 334px) {
  .hero__title {
    font-size: 24px;
    line-height: 24px;
  }

  .hero__text {
    font-size: 12px;
    line-height: 16px;
  }

  .hero__link {
    font-size: 12px;
    line-height: 16px;
  }
}

//**************//
//***HERO END***//
//**************//