.works {
  padding: 350px 85px 200px;
}

.works__title {
  margin: 0 0 80px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.line-circle {
  position: relative;
  width: 100%;
  max-width: 760px;
  height: 2px;
  background-color: #fdd6ba;
}

.circle {
  position: absolute;
  top: -15px;
  display: inline-block;
  width: 31px;
  height: 31px;
  background-color: #fefcf7;
  background-repeat: no-repeat;
  border: 2px solid #0e8784;
  border-radius: 50%;
}

.circle-2 {
  left: 349px;
}

.circle-3 {
  left: 729px;
}

.works__list {
  display: flex;
  justify-content: space-between;
  margin: 82px 0 64px;
  padding: 0;
  list-style-type: none;
}

.works-list__item {
  width: 100%;
  max-width: 285px;
}

.works-list__item + .works-list__item {
  margin-left: 10px;
}

.works-list__number {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.works-list__title {
  margin: 0 0 42px;
  padding: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}

.works-list__text {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

//************//
//***TABLET***//
//*************//

@media only screen and (max-width: 769px) {
  .works {
    padding: 443px 39px;
  }

  .works__title {
    margin: 0 0 40px;
    font-size: 24px;
  }

  .line-circle {
    max-width: 467px;
  }

  .circle-2 {
    left: 202px;
  }

  .circle-3 {
    left: 435px;
  }

  .works__list {
    margin: 48px 0 44px;
  }

  .works-list__item {
    max-width: 223px;
  }

  .works-list__title {
    margin: 0 0 38px;
    font-size: 28px;
    line-height: 32px;
  }

  .works-list__text {
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 615px) {
  .works-list__title {
    font-size: 20px;
    line-height: 25px;
  }
  .works-list__text {
    font-size: 12px;
    line-height: 20px;
  }
}

//************//
//***MOBILE***//
//************//

@media only screen and (max-width: 576px) {
  .works {
    padding: 717px 24px;
  }

  .works__inner {
    text-align: center;
  }

  .works__title {
    margin: 0 0 80px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .line-circle {
    display: none;
  }

  .works__list {
    justify-content: center;
    margin: 0 auto;
    max-width: 327px;
    flex-direction: column;
    text-align: center;
  }

  .works-list__item {
    margin: 0 auto;
  }

  .works-list__item + .works-list__item {
    margin-top: 56px;
    margin-right: auto;
    margin-left: auto;
  }

  .works-list__number {
    font-size: 72px;
    line-height: 72px;
    text-align: center;
  }

  .works-list__title {
    margin: 24px 0;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }

  .works-list__text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }

  .works-list__link {
    width: 100%;
    max-width: 217px;
    margin: 79px auto 0;
    text-align: center;
  }
}

//************//
//***FOOTER***//
//************//

.footer {
  padding: 47px 0;
  background-color: #2c343e;
}

.footer__inner {
  display: flex;
  align-items: center;
}

.footer__list {
  display: flex;
  align-items: center;
  margin: 0 0 0 103px;
  padding: 0;
  list-style-type: none;
}

.footer__item + .footer__item {
  margin-left: 33px;
}

.social__list {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  text-decoration: none;

  &:hover {
    color: #fefcf7;
  }
}

.social__item + .social__item {
  margin-left: 24px;
}

.social__link {
  font-size: 24px;
  color: #fefcf7;
  text-decoration: none;

  &:hover {
    color: #fdd6ba;
  }
}

//************//
//***TABLET***//
//************//

@media only screen and (max-width: 769px) {
  .footer {
    padding: 47px 0;
    background-color: #2c343e;
  }
  
  .footer__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .footer-logo {
    margin: 0 0 32px;
  }

  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 65px;
  }

  .social__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

//************//
//***MOBILE***//
//************//

@media only screen and (max-width: 576px) {
  .footer {
    padding: 54px 0;
  }
  .footer-logo {
    margin-bottom: 50px;
  }

  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .footer__item + .footer__item {
    margin-top: 25px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 450px) {

}

//****************//
//***FOOTER END***//
//****************//